<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container" [ngStyle]="{'display':backgroundDisplay}">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="border border-3 border-primary"></div>
                <div class="card bg-white shadow-lg">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4">
                            <h2 class="fw-bold mb-2 text-uppercase ">Forte Cotacoes</h2>
                            <p class=" mb-5">Por favor insira seu login e senha!</p>
                            <div class="mb-3">
                                <label for="email" class="form-label ">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Senha</label>
                                <input type="password" class="form-control" id="password" placeholder="*******">
                            </div>
                            <p class="small"><a class="text-primary" (click)="openPasswordRecoveryModal()">Esqueceu sua
                                    senha?</a>
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit"
                                    routerLink="/mainSidenav/listaCotacoes" routerLinkActive="active"
                                    ariaCurrentWhenActive="page">Login</button>
                            </div>
                        </form>
                        <div>
                            <p class="mb-0  text-center">Nao tem uma conta? <a (click)="openRegisterFormModal()"
                                    class=" text-primary fw-bold">Cadastre-se
                                    agora</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" aria-labelledby="passwordRecovery" aria-hidden="true"
    [ngStyle]="{'display':displayPasswordRecoveryForm}">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordRecovery">Recuperacao de senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closePasswordRecoveryModal()"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Email</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closePasswordRecoveryModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="closePasswordRecoveryModal()">Enviar email de
                    recuperacao</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" aria-labelledby="registerForm" aria-hidden="true"
    [ngStyle]="{'display':displayRegisterForm}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerForm">Cadastrar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeRegisterFormModal()"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome">
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Cpf" aria-label="CPF">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Fone" aria-label="Fone">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Cargo" aria-label="Cargo">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Empresa">
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Cnpj" aria-label="Cnpj">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Fone" aria-label="Fone">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Login</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Login">
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Senha" aria-label="Senha">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Repita a senha"
                                aria-label="Repita a senha">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeRegisterFormModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="closeRegisterFormModal()">Cadastrar
                    Usuario</button>
            </div>
        </div>
    </div>
</div>