<hr>
<h3>Cadastro de Cotacoes</h3>
<hr>
<div class="content">
    <form class="form">
        <div class="row">
            <div class="col">
                <input [(ngModel)]="newQuotation.quotationName" name="quotationName" type="text" class="form-control"
                    placeholder="Nome Cotacao">
            </div>
            <div class="col">
                <input [(ngModel)]="newQuotation.deliveryDate" class="textbox-n" type="text"
                    onfocus="(this.type='date')" name="delivery" class="form-control" placeholder="Prazo Entrega">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input [(ngModel)]="newQuotation.expirationDate" lass="textbox-n" type="text"
                    onfocus="(this.type='date')" name="expiration" class="form-control" placeholder="Data Vencimento">
            </div>
            <div class="col">
                <input [(ngModel)]="newQuotation.deliveryValue" name="delivery" type="number" class="form-control"
                    placeholder="Frete">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <textarea [(ngModel)]="newQuotation.description" name="description" class="form-control"
                    id="exampleFormControlTextarea1" rows="3" placeholder="Descricao"></textarea>
            </div>
            <div class="col">
                <textarea [(ngModel)]="newQuotation.observation" name="observation" class="form-control"
                    id="exampleFormControlTextarea1" rows="3" placeholder="Observacoes"></textarea>
            </div>
        </div>
    </form>

    <div class="save-box">
        <button (click)="addQuotation()" type="button" class="btn btn-success btn-lg">Salvar</button>
        <button type="button" class="btn btn-danger btn-lg" routerLink="/listaCotacoes">Cancelar</button>
    </div>

    <hr>
</div>