h3 {
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}