.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
    padding: 20px;
}

.box-buttons {
    width: 250px;
    display: inline-block;
    text-align: center;
}

.btn-menu {
    width: 250px;
    height: 50px;
    margin-top: 5px;

    background: gray;
}

.example-sidenav-content {
    height: 100%;
}

.button {
    width: 150px;
    height: 50px;
    background-color: cornflowerblue;
    border-radius: 0 !important;
}