.example-container {
    width: 100%;
    height: 100%;
    
}

.example-sidenav {
    padding: 20px;
}

.box-buttons {
    width: 250px;
    display: inline-block;
    text-align: center;
}

.btn-menu {
    width: 250px;
    height: 50px;
    margin-top: 5px;

    background: gray;
}

.example-sidenav-content {
    height: 100%;
}

.navbar-toggler {
    margin-left: 10px;
}

nav {
    background-color: cornflowerblue !important;
    display: flex;
}