<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Menu</p>

      <div class="box-buttons">
        <button class="btn-menu" (click)="showFiller = !showFiller" mat-raised-button>
          Inicio
        </button>
  
        <button class="btn-menu" (click)="showFiller = !showFiller" mat-raised-button>
          Cadastrar Cotacao
        </button>
  
        <button class="btn-menu" (click)="showFiller = !showFiller" mat-raised-button>
          Cadastrar Produto
        </button>
  
        <button class="btn-menu" (click)="showFiller = !showFiller" mat-raised-button>
          Sair
        </button>
      </div>
      
      
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button class="button" type="button" mat-button (click)="drawer.toggle()">
        Abrir Menu
      </button>

      <!-- Listagem de Cotacoes -->
      <app-list-quotes></app-list-quotes>

      <!-- Cadastro de Cotacoes -->
      <app-register-quotes></app-register-quotes>

      <!-- Cadastro de Produtos -->
      <app-register-products></app-register-products>
    </div>
  
  </mat-drawer-container>