<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Menu</p>

    <div class="box-buttons">
      <button class="btn-menu" (click)="drawer.toggle()" mat-raised-button routerLink="/listaCotacoes">
        Inicio
      </button>

      <button class="btn-menu" (click)="drawer.toggle()" mat-raised-button routerLink="/cadastrarCotacao">
        Cadastrar Cotacao
      </button>

      <button class="btn-menu" (click)="drawer.toggle()" mat-raised-button routerLink="/cadastrarProduto">
        Cadastrar Produto
      </button>

      <button class="btn-menu" (click)="drawer.toggle()" mat-raised-button routerLink="/sair">
        Sair
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="button" type="button" mat-button (click)="drawer.toggle()">
      Abrir Menu
    </button>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>