.custom-container {
    width: 100%;
    height: 100%;
}

.custom-sidenav {
    padding: 20px;
    width: 250px;
    background-color: snow;
}

.custom-sidenav-content {
    height: 100%;
}

.navbar-toggler {
    margin-left: 10px;
}

.navbar-container {
    display: flex
}

h1 {
    color: white;
    margin-left: 15px;
    font-weight: bold;
}

nav {
    background-color: cornflowerblue !important;    
}

a {
    text-align: left;
}

img {
    margin-right: 10px;
}

a:hover {
    background-color: cornflowerblue;
}